.parallax_body {
    /* margin-top: 15%; */
    background: transparent;
    /* font-family: 'Varela Round', sans-serif; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.perspective {
    width: 100%;
    perspective: 1000px;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 900;
}

.parallax_card {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    display: flex;
    justify-content: space-around;
/*     width: 100%;
    height: 413px; */
    margin: auto;
    border-radius: 20px;
    border: 1px solid #dadada;
    box-shadow: 30px 30px 100px -49px #494848;
    transform-style: preserve-3d;
    transition: transform .05s linear;
    
    .parallax_img {
        background-position-x: center;
        /* background-image: url("https://icon2.cleanpng.com/lnd/20240601/jau/ay6lkzzc4.webp"); */
        background-image: url("../public/files/avatar.png");
        background-size: cover;
        height: 100%;
       /*  width: 45%; */
        border-radius: 15px;

        &:after {
            background: inherit;
            content: '';
            display: block;
            position: absolute;
            left: -60px;
            top: 40px;
            width: 100%;
            height: 108%;
            z-index: -1;
            filter: blur(500px);
        }
    }

    h2 {
        position: absolute;
        top: 0;
        left: -60px;
        font-size: 40px;
        font-weight: 100;
        transform: translateZ(80px);
    }
}

.parallax_text_main {
    font-size: 15px;
    transform: translateZ(35px);
    width: 60%;
    height: 100%;
    align-content: center;
}

#parallax_main {
    width: 100%;
    height: 70%;
}

.parallax_title {
    font-size: 25px;
    text-align: left;
}

.parallax_text_contain {
    text-align: left;
    font-size: 15px;
    color: white;
}

@media (max-width:477px) {
    .parallax_img {
        width: 45%;
    }

    .parallax_card {
        height: 280px;
        width: 80%;
    }

    .parallax_title {
        font-size: 17px;
    }

    .parallax_text_contain {
        font-size: 10px;
    }

}

@media (min-width: 478px) and (max-width: 764px){
    #parallax_main {
        height: 80%; 
    }

    .parallax_card {
        height: 320px;
        width: 80%;
    }

    .parallax_title {
        font-size: 25px;
    }

    .parallax_text_contain {
        font-size: 13px;
    }

    .parallax_img {
        width: 30%;
    }
}

@media (min-width: 765px) and (max-width: 988px) {
    .parallax_card {
        height: 320px;
        width: 80%;
    }

    .parallax_img {
        width: 25%;
    }

    .parallax_title {
        font-size: 30px;
    }

    .parallax_text_contain {
        font-size: 17px;
    }
}

@media (min-width: 989px) and (max-width:1200px) {
    .parallax_img {
        width: 20%;
    }

    .parallax_title {
        font-size: 25px;
    }

    .parallax_text_contain {
        font-size: 18px;
    }
    
    .parallax_card {
        margin-top: 30px;
        height: 350px;
        width: 80%;
    }

}

@media (min-width: 1201px) and (max-width:1440px){
    .parallax_card {
        margin-top: 30px;
        height: 350px;
        width: 80%;
    }

    .parallax_img {
        width: 16%;
    }

    .parallax_title {
        font-size: 35px;
    }

    .parallax_text_contain {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .parallax_card {
        margin-top: 50px;
        height: 450px;
        width: 85%;
    }

    .parallax_img {
        width: 22%;
    }

    .parallax_title {
        font-size: 45px;
    }

    .parallax_text_contain {
        font-size: 25px;
    }
}
